:root {
  --primary-color: #2e2f42;
  --secondary-color: #434455;
  --select-color: #4d5ae5;
  --tertiary-color: #e7e9fc;
  --light-color: #f4f4fd;
  --bcg-color-font: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--secondary-color);
  background-color: var(--bcg-color-font);
}

.logotype {
  color: var(--select-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logohead {
  color: var(--primary-color);
}

.marker {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* =============== HEADER =============== */
.header-container {
  display: flex;
  align-items: center;
  border-bottom: ; /*??????*/
}

.header-navigation {
  display: flex;
  align-items: inherit;
}

.head-logo {
  margin-right: 77px;
}

.main-menu {
  display: flex;
}

.main-menu-item:not(:last-child) {
  margin-right: 40px;
}

.main-menu-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.main-menu a:hover,
.main-menu a:focus {
  color: var(--secondary-color);
}
.main-menu a:active {
  color: var(--select-color);
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.contacts-item:not(:last-child) {
  margin-right: 40px;
}

.header-contacts a {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* =============== FOOTER =============== */
footer {
  background-color: var(--primary-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.logofooter {
  color: var(--light-color);
}

.footer-text {
  width: 264px;
  margin-top: 16px;
  color: var(--tertiary-color);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* INDEX PAGE */
/* =============== MAIN =============== */
.hero {
  background-color: var(--primary-color);
  text-align: center;
}

.hero-title {
  width: 492px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 65px;

  color: var(--bcg-color-font);
  font-weight: 500;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.buttons {
  color: var(--bcg-color-font);
  background-color: var(--select-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.buttons:hover,
.buttons:focus {
  background-color: #4d5ae5;
}
.buttons:active {
  background-color: #404bbf;
}

.section-title {
  text-align: center;
  margin-bottom: 72px;

  color: var(--primary-color);
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.subtitle {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.values-list {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 25px;
}
.values-item {
  flex-basis: calc((100%-75px) / 4);
}

.about-us {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-us-list {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 25px;
}

.about-us-item {
  flex-basis: calc((100%-75px) / 3);
}

.team {
  background-color: var(--light-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 25px;
}

.team-item {
  background-color: var(--bcg-color-font);
  flex-basis: calc((100%-75px) / 4);
}

/* PORTFOLIO PAGE */
.filter{
  padding-top: 95px;
}
.filter-list {
  display: flex;
  justify-content: center;
}

.filter-list .filter-item:not(:last-child) {
  margin-right: 25px;
}

.filter-btn {
  border-color: transparent;
  border-radius: 4px;

  color: var(--select-color);
  background-color: var(--tertiary-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--bcg-color-font);
  background-color: var(--select-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.servises{
padding-top: 72px;
}

.production{
  display: flex;
  flex-wrap: wrap;
}

.services-types {
  text-decoration: none;
}
